@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 100% 100%;
    --foreground: 199 5% 10%;
    --card: 199 50% 100%;
    --card-foreground: 199 5% 15%;
    --popover: 199 100% 100%;
    --popover-foreground: 199 100% 10%;
    --primary: 199 44% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161 30% 95%;
    --muted-foreground: 199 5% 40%;
    --accent: 161 30% 90%;
    --accent-foreground: 199 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 199 5% 100%;
    --border: 199 30% 82%;
    --input: 199 30% 50%;
    --ring: 199 44% 28%;
    --radius: 0.5rem;

    --brand-primary: 87 43% 38%; /*#658b38*/
    --brand-primary-foreground: 0 0% 98%;
    --brand-primary-light: 87 50% 60%; /*#9dcc65*/
    --brand-primary-light-foreground: 0 0% 98%;
    --brand-primary-dark: 87 41% 33%; /*#577631*/
    --brand-primary-dark-foreground: 0 0% 98%;
    --brand-secondary: 268 50% 53%; /*#824ac3*/
    --brand-secondary-foreground: 0 0% 98%;
    --brand-secondary-light: 269 51% 59%; /*#9563cc*/
    --brand-secondary-light-foreground: 0 0% 98%;
    --brand-secondary-dark: 268 44% 45%; /*#6f40a5*/
    --brand-secondary-dark-foreground: 0 0% 98%;
  }

  .dark:root {
    --background: 199 50% 10%;
    --foreground: 199 5% 100%;
    --card: 199 50% 10%;
    --card-foreground: 199 5% 100%;
    --popover: 199 50% 5%;
    --popover-foreground: 199 5% 100%;
    --primary: 199 44% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 161 30% 25%;
    --muted-foreground: 199 5% 65%;
    --accent: 161 30% 25%;
    --accent-foreground: 199 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 199 5% 100%;
    --border: 199 30% 50%;
    --input: 199 30% 50%;
    --ring: 199 44% 28%;
    --radius: 0.5rem;

    /* Brand colors */
    --brand-primary: 87 43% 38%; /*#658b38*/
    --brand-primary-foreground: 0 0% 98%;
    --brand-primary-light: 87 50% 60%; /*#9dcc65*/
    --brand-primary-light-foreground: 0 0% 98%;
    --brand-primary-dark: 87 41% 33%; /*#577631*/
    --brand-primary-dark-foreground: 0 0% 98%;
    --brand-secondary: 268 50% 53%; /*#824ac3*/
    --brand-secondary-foreground: 0 0% 98%;
    --brand-secondary-light: 269 51% 59%; /*#9563cc*/
    --brand-secondary-light-foreground: 0 0% 98%;
    --brand-secondary-dark: 268 44% 45%; /*#6f40a5*/
    --brand-secondary-dark-foreground: 0 0% 98%;
  }

  /* For web only */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges */
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Light scrollbar thumb */
  }

  .dark ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Dark scrollbar track */
  }
}
