@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 100%;
    --foreground: 210 5% 10%;
    --card: 210 50% 100%;
    --card-foreground: 210 5% 15%;
    --popover: 210 100% 100%;
    --popover-foreground: 210 100% 10%;
    --primary: 210 45% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 30% 95%;
    --muted-foreground: 210 5% 40%;
    --accent: 172 30% 90%;
    --accent-foreground: 210 5% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 30% 82%;
    --input: 210 30% 50%;
    --ring: 210 45% 31%;

    --brand-primary: 87 43% 38%; /*#658b38*/
    --brand-primary-foreground: 0 0% 98%;
    --brand-primary-light: 87 50% 60%; /*#9dcc65*/
    --brand-primary-light-foreground: 0 0% 98%;
    --brand-primary-dark: 87 41% 33%; /*#577631*/
    --brand-primary-dark-foreground: 0 0% 98%;
    --brand-secondary: 268 50% 53%; /*#824ac3*/
    --brand-secondary-foreground: 0 0% 98%;
    --brand-secondary-light: 269 51% 59%; /*#9563cc*/
    --brand-secondary-light-foreground: 0 0% 98%;
    --brand-secondary-dark: 268 44% 45%; /*#6f40a5*/
    --brand-secondary-dark-foreground: 0 0% 98%;
  }

  .dark:root {
    --background: 210 50% 10%;
    --foreground: 210 5% 90%;
    --card: 210 50% 10%;
    --card-foreground: 210 5% 90%;
    --popover: 210 50% 5%;
    --popover-foreground: 210 5% 90%;
    --primary: 210 62% 75%;
    --primary-foreground: 0 0% 0%;
    --secondary: 210 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 30% 25%;
    --muted-foreground: 210 5% 60%;
    --accent: 172 30% 25%;
    --accent-foreground: 210 5% 90%;
    --destructive: 0 100% 44%;
    --destructive-foreground: 210 5% 90%;
    --border: 210 30% 44%;
    --input: 210 30% 44%;
    --ring: 210 62% 75%;

    /* Brand colors */
    --brand-primary: 87 43% 38%; /*#658b38*/
    --brand-primary-foreground: 0 0% 98%;
    --brand-primary-light: 87 50% 60%; /*#9dcc65*/
    --brand-primary-light-foreground: 0 0% 98%;
    --brand-primary-dark: 87 41% 33%; /*#577631*/
    --brand-primary-dark-foreground: 0 0% 98%;
    --brand-secondary: 268 50% 53%; /*#824ac3*/
    --brand-secondary-foreground: 0 0% 98%;
    --brand-secondary-light: 269 51% 59%; /*#9563cc*/
    --brand-secondary-light-foreground: 0 0% 98%;
    --brand-secondary-dark: 268 44% 45%; /*#6f40a5*/
    --brand-secondary-dark-foreground: 0 0% 98%;
  }

  /* For web only */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges */
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Light scrollbar thumb */
  }

  .dark ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Dark scrollbar track */
  }
}
